[submodule "SDL"]
    path = SDL
    url = https://github.com/libsdl/SDL.git
    branch = SDL2
[submodule "SDL_ttf"]
    path = SDL_ttf
    url = https://github.com/libsdl/SDL_ttf.git
    branch = SDL2
